/* pre-format oi */
::-webkit-scrollbar {
    background: transparent;
    color: transparent;
    width: 0;
    display: none;
    visibility: hidden;
    z-index: -10;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    color: transparent;
    display: none;
    visibility: hidden;
    z-index: -10;
}
p {margin:0}
* {
    user-select: none;
}
.icon {
    font-family: BHicons;
    font-size: 14px;
}
a { text-decoration: none}
button, iframe {background: none;border:none}
input[type="text"] {
    outline: none;
    -webkit-appearance: none;
    caret-color: rgb(53, 156, 53);
    box-sizing: border-box;
    font-size: 16px;
    border: none;
}
div input[type="text"] {
    width: 100%;
    padding: 0;
}
input[type="text"]::placeholder {
    font-size: 14px;
}

/* STYLE */
body {
    margin: 0 auto;
    margin-top: calc(60px + 16px);
    margin-bottom: calc(16px + 0px);
    font-family: 'Raleway', Arial, sans-serif;
    background: #ffffff;
    color: #191d17;
    max-width: 640px;
    overscroll-behavior-y: contain;
}
/* header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: #f6f8fa;
    border-bottom: 2px solid #dce1e7;
    box-sizing: border-box;
}
header > div {
    position: relative;
    height: 100%;
    width: calc(100% - 32px);
    margin: auto;
}
header #logo {
    position: absolute;
    left: 0;
    height: 44px;
    width: 44px;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background: url(../image/icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
header #nav {
    position: absolute;
    width: calc(100% - 44px - 12px);
    height: 100%;
    right: 0;
}
header #search {
    position: absolute;
    left: calc(38px + 12px);
    width: calc(100% - 38px - 38px - 38px - 12px - 12px - 12px);
    height: 38px;
    margin: auto;
    top: 0;
    bottom: 0;
}
#search button {
    width: 38px;
    height: 100%;
    position: absolute;
    color: #656d76;
}
#search button.clean {
    position: absolute;
    right: 0;
    border-left: 1px solid #dce1e7;
    height: calc(100% - 2px);
    margin: auto;
    top: 0;
    bottom: 0;
}
#search input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding-left: 38px;
    background: #ffffff;
    border: 1px solid #bababa;
}
header .button {
    position: absolute;
    height: 38px;
    width: 38px;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    background: #f6f8fa;
    border: 1px solid #bababa;
    border-radius: 8px;
    box-sizing: border-box;
    color: #656d76;
}
.button.add {
    left: 0;
}
.button.share {
    right: calc(38px + 12px);
}
.button.refresh {
    right: 0;
}
/* section */
section {
    margin: 16px;
    border: 1px solid #dce1e7;
    border-radius: 12px;
    color: #1f2328;
    overflow: hidden;
    background: white;
}
section .list {
    width: 100%;
    height: 38px;
    max-width: 640px;
    font-size: 12.5px;
    line-height: 38px;
    background: #f6f8fa;
    color: #1f2328;
    font-weight: 600;
    transition: 0.2;
    box-sizing: border-box;
    position: relative;
}
section .head.list {
    border-bottom: 1px solid #dce1e7;
}
section .foot.list {
    border-top: 1px solid #dce1e7;
}
section .total, .itens {
    font-family: 'Ubuntu Mono';
    font-size: 14px;
}
.head.list.fixed {
    position: fixed;
    margin: auto;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.foot.list.relative {
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.list div {
    float: left;
    text-align: center;
}
.head.list div {
    width: 21%;
}
.foot.list div {
    width: 50%;
}
.head.list .left {
    padding-left: 10px;
    box-sizing: border-box;
}
/* section > item */
.item {
    height: 40px;
    line-height: 40px;
    font-family: 'Raleway';
    border-bottom: 1px solid #dce1e7;
    font-size: 14px;
}
.item div {
    height: 100%;
    float: left;
    width: 21%;
}
.item .quant, .punit {
    width: 100%;
    font-family: 'Ubuntu Mono';
    padding: 0 8px;
    height: 100%;
    font-size: 14px;
    background: none;
    border-left: 1px solid #dce1e7 !important;
    border-right: 1px solid #dce1e7 !important;
}
.item .quant {
    border-left: none;
}
.item .quant::placeholder {
    font-family: BHicons;
    font-size: 14px;
}
.item .discrim {
    padding-left: 10px;
    box-sizing: border-box;
}
.item .valor {
    font-family: 'Ubuntu Mono';
}
/* FOOTER */
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 48px;
    background: #f6f8fa;
    box-sizing: border-box;
    color: #1f2328;
    border-top: 2px solid #dce1e7;
}
footer div {
    width: 50%;
    text-align: center;
    line-height: 48px;
    font-family: 'Ubuntu Mono';
    float: left;
}
footer button, .foot.list button {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: #bababa;
    padding: 0;
}
/* popups */
.popup {
    position: fixed;
    background: #ffffff;
    width: calc(100% - 32px);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: fit-content;
    border-radius: 12px;
    padding-top: 48px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
}
.popup .head {
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%;
    line-height: 48px;
    padding: 0 16px;
    box-sizing: border-box;
    font-weight: 700;
    color: #1f2328;
    font-size: 15px;
    border-bottom: 1px solid #dce1e7;
}
.popup .head button {
    position: absolute;
    height: 32px;
    width: 32px;
    border-radius: 8px;
    right: 16px;
    margin: auto;
    top: 0;
    bottom: 0;
    background: none;
    font-size: 22px;
}
.popup .content {
    position: relative;
    padding: 16px;
    color: #5f6368;
    font-family: 'Raleway';
    overflow: auto;
}
.popup.share .content .block {
    position: relative;
    overflow: hidden;
}
.content .block div {
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #5f6368;
    box-sizing: border-box;
    text-align: center;
    float: left;
    width: calc(50% - 16px);
    margin: 8px;
    font-size: 14px;
    color: #1f2328;
}
.block div icon {
    margin: 10px 0;
}
.none {
    padding: 14px;
    box-sizing: border-box;
    width: fit-content;
    margin: 16px auto;
    text-align: center;
    border-radius: 28px;
    background: #189304;
    color: #fff;
}
.none button {
    color: #fff;
}
.popup input[type="text"] {
    height: 38px;
    border-radius: 8px;
    margin: 6px 0;
    border: 1px solid #dce1e7;
    padding-left: 16px;
}
.popup.concluir input[type="text"] {
    text-transform: capitalize;
}
input[type="text"]:focus {
    border: 1px solid #1f2328 !important;
    outline: none;
    background: #f6f8fa;
    box-sizing: border-box;
}
.popup .foot {
    width: 100%;
    height: 73px;
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid #dce1e7;
}
.popup .foot button {
    border: none;
    height: 44px;
    border-radius: 12px;
    width: 43px;
    float: right;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #189304;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
button.addItem.off {
    background-color: #bebebe;
    color: #656d76;
    box-shadow: none;
}
/* html2canvas */
.picIt {
    font-family: 'Ubuntu Mono', monospace;
    width: 280px;
    padding-bottom: 20px;
    position: absolute;
    left: -100vh;
}
.picIt.share {
    padding: 20px;
    background-color: #fffeea;
}
.header, .copy, .footer p, .footer div, .item div, .item div input[type="text"] {
    text-align: center;
}
.left, .header div, .footer, .item .discrim {
    text-align: left !important;
}
.item .discrim, .head.list div.left {
    width: 37%;
}
.header {
    height: 80px;
    margin-top: 7px;
    margin-bottom: 16px;
    position: relative;
}
.header .logo {
    font-family: 'BHicons';
    font-size: 80px;
    width: 80px;
}
.header .data {
    width: calc(100% - 80px - 8px);
    font-size: 16px;
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
    line-height: 17px;
}
.footer {
    margin-top: 8px;
}
.footer > div:first-child {
    font-size: 18px;
    margin-bottom: 12px;
}
.footer #qr-code-container {
    width: fit-content;
    margin: 0 auto;
    padding: 8px 0;
}
.right {
    text-align: right;
}
tr.head {
    font-weight: 700;
    font-size: 14px;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr {
    border-bottom: 1px solid black;
}
td {
    padding: 2.5px 0;
}
hr {
    border-top: solid 2px black;
}
.copy {
    font-size: 17px;
    padding: 5px 0;
}
#printTable {
    background-color: white;
}
/* + */
button.concluir {
    position: fixed;
    right: 16px;
    height: 52px;
    width: 52px;
    bottom: calc(38px + 16px);
    border-radius: 8px;
    background: #189304;
    color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    font-size: 20px;
}
.concluir.off {
    background: #bebebe;
    color: #656d76;
}
.aviso {
    top: 38px;
    position: fixed;
    background: #ffd9df;
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}
#noItens {
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 130px;
    width: 100%;
    z-index: -1;
    left: 0;
}
#blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}
#unitType {
    width: calc(50% - 6px);
    float: left;
    text-transform: lowercase;
}
#punit {
    width: calc(50% - 6px);
    float: right;
}
label {
    font-size: 14px;
    margin-top: 12px;
    font-family: 'Raleway';
    font-weight: 600;
}
label.left {
    float: left;
    width: calc(50% - 11px);
}
label.right {
    width: calc(50% - 11px);
    float: right;
    text-align: left;
}
button.sharePic {
    width: 48px;
    height: 48px;
    background: #f67f12;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -48px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transform: translateY(-50%);
    cursor: pointer;
    transition: right 0.1s ease;
}
@keyframes moveButton {
    0%, 100% { right: -10px; }
    50% { right: 0; }
}





/* Estilo para o checkbox */
input[type="checkbox"] {
    display: none;
  }
  
  /* Estilo para o rótulo (substituto visual do checkbox) */
  input[type="checkbox"] + label {
    position: relative;
    padding-left: calc(26px + 12px); /* Espaçamento à esquerda para o rótulo */
    cursor: pointer;
    display: inline-block;
    line-height: 28px;
  }
  
  /* Estilo para a aparência padrão do checkbox */
  input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    color: #1f2328;
    border: 2px solid;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  /* Estilo quando o checkbox está marcado */
  input[type="checkbox"]:checked + label:before {
    content: "f";
    font-family: 'BHicons';
    text-align: center;
    background-color: #dce1e7;
  }
  
