input, select {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    caret-color: rgb(53, 156, 53);
}

body {
    margin: 0;
    margin-top: 86px;
    font-family: Arial, sans-serif;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 82px;
}
header #logo {
    position: absolute;
    left: 0;
    height: 52px;
    width: 72px;
    background-color: #dae2f9;
    border-bottom-right-radius: 14px;
}
#logo svg {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
header #search {
    position: absolute;
    right: 0;
    width: calc(100% - 72px);
    height: 100%;
    background: #f9f9ff;
}
header #search div {
    width: calc(100% - 16px);
    position: absolute;
    height: 36px;
    border-radius: 14px;
    margin: auto;
    right: 8px;
    top: 8px;
    background: #e6e9f3;
    z-index: 1;
}
#search input {
    height: 100%;
    width: calc(100% - 70px);
    font-size: 94%;
    border-radius: 20px;
    position: absolute;
    right: 10px;
}
header button {
    border: none;
    width: 44px;
    height: 20px;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid rgb(0 0 0 / 10%);
    background-color: transparent;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: rgb(0 0 0 / 50%);
}
header .h {
    background: #dae2f9;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    clear: both;
    font-size: 13px;
    font-weight: 600;
}
header .h div:first-child {
    background: #f9f9ff;
    border-top-left-radius: 14px;
}
header .h div {
    float: left;
    width: 25%;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    background: #f9f9ff;
}
.pdt {
    height: 34px;
    line-height: 34px;
    /* border-bottom: 1px solid #e6e9f3; */
}
.pdt, .total {
    clear: both;
    font-family: 'Ubuntu Mono';
}
.input1, .input2 {
    background: #f9f9ff;
    height: 22px;
    border-radius: 11px;
    margin: 0 10px;
    width: calc(100% - 20px);
    font-family: 'Ubuntu Mono';
}
.pdt div {
    float: left;
    width: 25%;
}
div input {
    width: 100%;
    padding: 0;
    border: none;
}
#toCanvas {
    font-family: 'Ubuntu Mono', monospace;
    width: 280px;
    padding-bottom: 20px;
    position: absolute;
    left: -100vh;
}
.header, .copy, .footer p, .pdt div, .pdt div input {
    text-align: center;
}
.left, .header div, .footer, .pdt .produto {
    text-align: left !important;
}
.header div {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 16px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 42px;
    background: #f9f9ff;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
footer div {
    position: fixed;
    right: 0;
    width: 50%;
    text-align: center;
    line-height: 42px;
    font-family: 'Ubuntu Mono';
}
footer svg {
    position: absolute;
    right: -14px;
    bottom: 0;
}
#concluir {
    background: #dae2f9;
    border: none;
    height: calc(100% - 12px);
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 6px;
    width: 50%;
    border-radius: 14px;
    border-top-right-radius: 14px;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 700;
}
.footer {
    margin-top: 7px;
}
.right {
    text-align: right;
}
.text, .head, .footer p {
    font-family: 'Raleway', Courier, monospace;
}
.head {
    font-weight: 700;
    font-size: 85%;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr {
    border-bottom: 1px solid black;
}
td {
    padding: 2.5px 0;
}
hr {
    border-top: solid 2px black;
}
.copy {
    font-size: 120%;
    padding: 5px 0;
}
#printTable {
    background-color: white;
}
#blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 0;
    opacity: 0.3;
}
#conteudo {
    /* display: none; */
    position: absolute;
    background: #f9f9ff;
    top: 0;
    width: 100%;
    height: 100px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
#conteudo div  {
    border-radius: 21px;
    width: calc(100% - 28px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 42px;
    background: #e6e9f3;
}
#conteudo input {
    height: 100%;
    width: calc(100% - 64px);
    padding-left: 20px;
    font-size: 16px;
}
#conteudo button {
    position: absolute;
    margin: auto;
    right: 6px;
    border: none;
    height: calc(100% - 12px);
    width: 52px;
    border-radius: 14px;
    top: 0;
    bottom: 0;
    background: white;
}
