/* FONT */
@font-face {
    font-family: 'BHf';
    src: url('BHFiscalFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* CONFIG STYLE */
::-webkit-scrollbar {
    background: transparent;
    color: transparent;
    width: 0;
    display: none;
    visibility: hidden;
    z-index: -10;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: transparent;
    color: transparent;
    display: none;
    visibility: hidden;
    z-index: -10;
}
p, body {margin:0}
* {
    user-select: none;
}
.icon {
    font-family: BHf;
    font-size: 14px;
}
a { text-decoration: none}
button, iframe, input {border: none;background: none;}
input {
    outline: none;
    -webkit-appearance: none;
    caret-color: rgb(53, 156, 53);
    box-sizing: border-box;
    font-size: 16px;
    background: #f6f8fa;
}
input::placeholder {
    font-size: 14px;
}
/* THE STYLE */
body {
    margin: 0 auto;
    margin-top: calc(60px + 16px);
    margin-bottom: calc(48px + 16px);
    font-family: 'Raleway', Arial, sans-serif;
    background: #ffffff;
    color: #191d17;
    max-width: 640px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 60px;
    background: #f6f8fa;
    border-bottom: 2px solid #dce1e7;
    box-sizing: border-box;
}
header .buttons {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: calc(32px + 12px + 32px);
}
header > div {
    position: relative;
    height: 100%;
    width: calc(100% - 32px);
    margin: auto;
}
header #logo {
    position: absolute;
    left: 0;
    height: 41px;
    width: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background: url(icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
header .concluir {
    position: absolute;
    right: 0;
    height: 44px;
    width: 44px;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 8px;
    background: #118429;
    color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
header #search {
    position: absolute;
    left: calc(50px + 12px);
    width: calc(100% - 58px - 16px - 20px - 76px);
    height: 38px;
    margin: auto;
    top: 0;
    bottom: 0;
}
#search button {
    width: 38px;
    height: 100%;
    position: absolute;
    color: #656d76;
}
#search button.clean {
    position: absolute;
    right: 0;
    border-left: 1px solid #dce1e7;
    height: calc(100% - 2px);
    margin: auto;
    top: 0;
    bottom: 0;
}
#search input {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding-left: 38px;
    background: #ffffff;
    border: 1px solid #bababa;
}
header .custom {
    position: absolute;
    height: 38px;
    width: 38px;
    margin: auto;
    top: 0;
    bottom: 0;
    text-align: center;
    background: #f6f8fa;
    border: 1px solid #bababa;
    border-radius: 8px;
    box-sizing: border-box;
    right: calc(44px + 16px);
    color: #656d76;
}
section {
    margin: 16px;
    border: 1px solid #dce1e7;
    border-radius: 12px;
    color: #1f2328;
    overflow: hidden;
    background: white;
}
section .list {
    width: 100%;
    height: 38px;
    max-width: 640px;
    font-size: 12.5px;
    line-height: 38px;
    background: #f6f8fa;
    color: #1f2328;
    font-weight: 600;
    transition: 0.2;
    box-sizing: border-box;
    position: relative;
}
section .head.list {
    border-bottom: 1px solid #dce1e7;
}
section .foot.list {
    border-top: 1px solid #dce1e7;
}
.head.list.fixed {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.list div {
    float: left;
    text-align: center;
}
.head.list div {
    width: 21%;
}
.foot.list div {
    width: 50%;
}
.head.list .left {
    padding-left: 10px;
    box-sizing: border-box;
}
.footlist.fixed {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 0 16px;
    box-sizing: border-box;
}
.item {
    height: 36px;
    line-height: 36px;
    font-family: 'Raleway';
    border-bottom: 1px solid #dce1e7;
    font-size: 14px;
}
.quant, .punit {
    width: 100%;
    font-family: 'Ubuntu Mono';
    padding: 0 8px;
    height: 100%;
    font-size: 14px;
    background: none;
    border-left: 1px solid #dce1e7;
    border-right: 1px solid #dce1e7;
}
.quant::placeholder {
    font-family: BHf;
    font-size: 10px;
}
.item div {
    height: 100%;
    float: left;
    width: 21%;
}
.item .quant {
    border-left: none;
}
.item .discrim {
    padding-left: 10px;
    box-sizing: border-box;
}
.item .valor {
    font-family: 'Ubuntu Mono';
}
div input {
    width: 100%;
    padding: 0;
    border: none;
    padding-left: 16px;
}
#picIt {
    font-family: 'Ubuntu Mono', monospace;
    width: 280px;
    padding-bottom: 20px;
    position: absolute;
    left: -100vh;
}
.header, .copy, .footer p, .item div, .item div input {
    text-align: center;
}
.left, .header div, .footer, .item .discrim {
    text-align: left !important;
}
.item .discrim, .headlist div.left {
    width: 37%;
}
.header div {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 16px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 48px;
    background: #f6f8fa;
    box-sizing: border-box;
    color: #1f2328;
    border-top: 2px solid #dce1e7;
}
footer div {
    width: 50%;
    text-align: center;
    line-height: 48px;
    font-family: 'Ubuntu Mono';
    float: left;
}
footer button, .foot.list button {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background: #dce1e7;
    padding: 0;
}
.footer {
    margin-top: 7px;
}
.right {
    text-align: right;
}
tr.head {
    font-weight: 700;
    font-size: 14px;
}
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr {
    border-bottom: 1px solid black;
}
td {
    padding: 2.5px 0;
}
hr {
    border-top: solid 2px black;
}
.copy {
    font-size: 17px;
    padding: 5px 0;
}
#printTable {
    background-color: white;
}
.popup {
    position: fixed;
    background: #ffffff;
    top: -200vh;
    width: calc(100% - 32px);
    margin: auto;
    left: 0;
    right: 0;
    height: fit-content;
    border-radius: 12px;
    transition: 0.4s;
    padding-top: 48px;
    padding-bottom: 73px;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.popup.opened {
    top: 16px;
}
.popup .head {
    position: absolute;
    top: 0;
    height: 48px;
    width: 100%;
    line-height: 48px;
    padding: 0 16px;
    box-sizing: border-box;
    font-weight: 700;
    color: #1f2328;
    font-size: 15px;
    border-bottom: 1px solid #dce1e7;
}
.popup .head button {position: absolute;height: 32px;width: 32px;border-radius: 8px;right: 16px;margin: auto;top: 0;bottom: 0;background: none;}
.popup .content {
    position: relative;
    padding: 16px;
    color: #5f6368;
    font-family: 'Raleway';
    overflow: auto;
}
.popup input {
    height: 38px;
    border-radius: 8px;
    margin: 6px 0;
    border: 1px solid #dce1e7;
}
.popup.nome input {
    text-transform: capitalize;
}
input:focus {
    border: 1px solid #1f2328 !important;
    outline: none;
    background: #f6f8fa;
    box-sizing: border-box;
}
.popup .foot {
    position: absolute;
    width: 100%;
    height: 73px;
    bottom: 0;
    padding: 16px;
    box-sizing: border-box;
    border-top: 1px solid #dce1e7;
}
.popup .foot button {
    border: none;
    height: 40px;
    border-radius: 12px;
    width: 40px;
    float: right;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #648e50;
    color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.aviso {
    top: 38px;
    position: fixed;
    background: #ffd9df;
    margin: auto;
    left: 0;
    right: 0;
    width: fit-content;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 2;
}
#noItens {
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 130px;
    width: 100%;
    z-index: -1;
    left: 0;
}
#blur {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    top: 0;
    opacity: 0.2;
}
#unitType {
    width: calc(50% - 6px);
    float: left;
    text-transform: lowercase;
}
#punit {
    width: calc(50% - 6px);
    float: right;
}
label {
    font-size: 14px;
    margin-top: 12px;
    font-family: 'Raleway';
    font-weight: 600;
}
label.left {
    float: left;
    width: calc(50% - 11px);
}
label.right {
    width: calc(50% - 11px);
    float: right;
    text-align: left;
}
button.sharePic {
    width: 42px;
    height: 42px;
    background: #f67f12;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: -42px;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transform: translateY(-50%);
    cursor: pointer;
    transition: right 0.1s ease;
  }
  @keyframes moveButton {
    0%, 100% {
      right: -10px;
    }
    50% {
      right: 0;
    }
  }

